* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border-left: 1px solid #f4a4ac;
  border-right: 1px solid #f4a4ac;
  font-family: Bodoni, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  color: #f4a4ac;
}

.sombreamento {
  color: #fff;
  text-shadow: 2px 2px  #9f5166;

}

header {
  background-color: #f4a4ac;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

header a {
  text-decoration: none;
  border: none;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  transition: 0.4s;
  flex-wrap: nowrap;
}

header a:hover {
  background-color: #9f5166;
  opacity: 0.8;
  transform: scale(1.1);
}

.apresentação {
  background-color: #fff;
  color: #f4a4ac;
  text-align: center;
  margin-top: 1rem;
}

.listas {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

li {
  margin: 0.5rem 0;
}

.logo {
  border-radius: 50%;
  width: 50%; 
  max-width: 10rem; 
  height: auto;
}

img.capa {
  width: 100%;
  height: auto;
  margin: auto;
}

.imagens {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
border-radius: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap: nowrap;
  margin: 1rem 2rem 1rem 2rem;
}

.text {
  width:100%;
  border: outset 1.6px #9f5166;
}

.textColor {
  background-color: #f4a4ac;
  color: #fff;
}

#container {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.column {
  width:100%;
  padding: 10px;
  border: 1px solid #f4a4ac;
  flex-wrap: nowrap;
}

.column h3 {
  margin-bottom: 0.5rem;
}

img.capahome {
  width: 100%;
  height: 700px;
  margin: auto;
}

.botão {
  background-color: #f4a4ac;
  color: #fff;
  padding: 6px 15px;
  border: none;
  border-radius: 20px;
}

.botão:hover {
  background-color: #9f5166;
  opacity: 0.9;
  transform: scale(1.1);
}

#btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  transition: 0.4s;
  flex-wrap: nowrap;
}

footer {
  background-color: #f4a4ac;
  border-bottom: 2px solid #000000;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  width: 2rem;
  height: 2rem;
}

nav.navFooter {
  display: flex;
  gap: 10px; /* Espaço entre os ícones */
}

.copy {
  margin: 1rem 1rem 1rem 1rem;
}

.centralizado {
  display: flex;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}

@media(max-width:768px) {
  body, header, footer, form {
    max-width: 100%;
    overflow-x: hidden; /* Isso vai esconder qualquer conteúdo que vazar horizontalmente */
  }

    margin-bottom: 1rem;}
}
