body {
    background-image: url("img/fundo.jpg");
    background-position: 100%;
    background-attachment:fixed;
    text-transform: uppercase;
    color: aliceblue;
    background-size: 200px, 100px;
}
#primeira1 {
  border: 2px dashed #794c7a;
}

#segunda2 {
  border: 2px dotted #794c7a;
}

.foto1 {
  width: 700px; /*largura */
  height: 400px; /*altura */
}
.foto2 {
  width: 600px; /*largura */
  height: 300px; /*altura */
}
